.background_img {
    background-image: url(../images/drift5.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
}

body, html {
    height: 100%;
    margin: 0;
}

ul {
    margin: 0;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}

.page_title {
    padding: 5% 30% 5% 30%;
    margin: 0;
}

.nav_about_box {
    background-color: #fff;
    border: 1px solid black;
    opacity: 0.8;
    margin: 1% 10% 1% 10%;
    border-radius: 10px;
}

a {
    text-decoration: none;
}

.about_page {
    text-align: center;
}

.text_about_page {
    text-align: center;
    margin: 20px;
    font-weight: bold;
}