.background_img {
    background-image: url(../images/drift5.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

body, html {
    height: 100%;
    margin: 0;
}

ul {
    margin: 0;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    padding: 1%;
}

li {
    font-size: 1.4rem;
}

.page_title {
    padding: 5% 30% 5% 30%;
    margin: 0;
}

.nav_about_box {
    background-color: #fff;
    border: 1px solid black;
    opacity: 0.8;
    margin: 1% 10% 1% 10%;
    border-radius: 10px;
}

.nav_links {
    background-color: #D3D3D3;
    border-radius: 10px;
}

a {
    text-decoration: none;
}

.about_page,
.galery_title,
.form_center,
.footer_bar {
    text-align: center;
}

.text_about_page {
    text-align: center;
    margin: 20px;
    font-weight: bold;
}

.galery_box {
    background-color: #fff;
    border: 1px solid black;
    opacity: 0.8;
    border-radius: 10px;
    margin: 10%;
}


.images_container {
    display: flex;
    flex-flow: column;
}

img,
.image {
    width: 100px;
    height: 100px;
    background-size: cover;
    border: 1px solid red;
    border-radius: 20px;
    contain: strict;
}

.row {
    display: flex;
    justify-content: space-around;
}

.image {
    margin-bottom: 30px;
}

.form_box {
    background-color: #fff;
    border: 1px solid black;
    opacity: 0.8;
    margin: 1% 10% 1% 10%;
    border-radius: 10px;
}

.footer_bar {
    background-color: #DEB887;
    border: 1px solid black;
}

.form_center {
    margin: 3%;
}

.button {
    border-radius: 20px;
}

.button:hover {
    background-color: #7FFF00;
}